<div *ngIf="roomId" class="container mt-3">

    <h1>{{roomName}}</h1>

    <hr>

    <div *ngIf="!connected">
        <h2>Connecting...</h2>

        <form *ngIf="needsPassword" [formGroup]="roomPasswordForm" (ngSubmit)="checkPassword()" class="col-lg-6">
            <div class="mb-3">
                <label class="form-label">Password</label>
                <input class="form-control" type="password" [formControlName]="passwordProperty" autocomplete="off"
                       required [name]="passwordProperty">
                <div class="invalid-feedback" *ngIf="password?.errors?.required">
                    Please enter a password.
                </div>
            </div>
            <button class="btn btn-success" type="submit" [disabled]="!roomPasswordForm.valid || submitting">Enter</button>
            <span class="ms-3">
                <fa-icon *ngIf="submitting" [icon]="loadingIcon" [spin]="true" [fixedWidth]="true"></fa-icon>
                <span class="text-danger" *ngIf="passwordError">{{ passwordError }}</span>
            </span>
        </form>
    </div>

    <div *ngIf="connected" class="d-block d-md-flex flex-md-grow-1">

        <div class="flex-grow-1 py-8">
            <video #videoElement autoplay playsinline class="ratio ratio-16x9" [muted]="true"></video>
            <div *ngIf="isOwner" class="d-flex justify-content-end">
                <button *ngIf="!isPlaying" (click)="broadcast()" type="button" class="btn btn-success">Broadcast</button>
                <button *ngIf="isPlaying" (click)="disconnect()" type="button" class="btn btn-danger">Stop broadcasting</button>
            </div>
            <div *ngIf="!isOwner" class="d-flex justify-content-end">
                <button *ngIf="!isPlaying" (click)="watch()" type="button" class="btn btn-success">Start Watching</button>
            </div>
        </div>
        <div class="d-flex flex-column mt-4 mt-md-0 ms-md-4">
            <div class="flex-grow-1">
                <p *ngFor="let message of messages">
                    <small class="text-dark">{{message.time | date: 'short'}}</small>
                    <strong class="ms-1" [class]="user._id === message.sender._id ? 'text-success' : 'text-primary'">
                        {{message.sender.displayName}}
                    </strong>
                    <span class="ms-1">{{message.content}}</span>
                </p>
            </div>

            <form [noValidate]="true">
                <div class="input-group mt-2">
                    <input type="text" class="form-control me-3" placeholder="message" [(ngModel)]="message"
                            [formNoValidate]="true" (keyup.enter)="sendMessage(message)" name="message">
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="button" (click)="sendMessage(message)">Send</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
